<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
      <title>Nomadbase Lisbon</title>
    
    <meta name="viewport" content="width=600" />
{% load staticfiles %}   
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>

  <body>
  <div id="wrapper">
    &nbsp;
    <div id="logo">
      <a href="/home/">
        <span id="Nomadbase">Nomadbase</span> <span id="Lisbon"> Lisbon</span>
      </a>
    </div>

    <div id="menu">

      <span><a href="/home/">home</a></span>
     <span> <a href="/values/">values</a></span>
     <span> <a href="/come/">come</a></span>
     <span> <a href="/activity/">activity</a></span>
     <span> <a href="/participate/">participate</a></span>
     <span> <a href="/contact/">contact</a></span>

    </div>

    <div id="container">

      <div id="content">
       {% if type == 'contact' %}
<table style="width:600px">
        <tbody><tr>
          <td>Michal:</td><td>&nbsp;</td></tr>
        <tr>
          <td>&nbsp;</td><td><a href="http://www.bewelcome.org/members/mrkvon" target="_blank">bewelcome profile</a></td>


</tr>
<tr><td>&nbsp;</td><td><a href="https://www.trustroots.org/profile/mrkvon" target="_blank">trustroots profile</a></td></tr>
 <tr>
          <td>&nbsp;</td><td>michal dot salajka at email dot cz</td>
          

</tr>
        <tr>
          <td>Agata:</td><td>&nbsp;</td></tr>
        <tr>
          <td>&nbsp;</td><td><a href="http://www.bewelcome.org/members/dzikudzik" target="_blank">bewelcome profile</a></td>

</tr>
<tr><td>&nbsp;</td><td><a href="https://www.trustroots.org/profile/smarkaty" target="_blank">trustroots profile</a></td></tr>
 <tr>
          <td>&nbsp;</td><td>agatamonikaandrzejewska at gmail dot com</td>
          

</tr>
        <tr>
          <td>Nomadbase Lisbon:</td><td>&nbsp;</td></tr>
        <tr>
          <td>&nbsp;</td><td><a href="http://www.bewelcome.org/members/nomadbase" target="_blank">bewelcome profile</a></td>

</tr>
<tr><td>&nbsp;</td><td><a href="https://www.trustroots.org/profile/nomad-base" target="_blank">trustroots profile</a></td></tr>

</tbody></table>

       {% elif type == 'home' or type == 'values' or type == 'come' or type == 'participate' or type == 'activity' %}
        {% for post in posts %}
    <div>
        {{ post.text|safe }}
    </div>
{% endfor %}
{% else %}
<div>
Website with this address doesn't exist. Go to the<a href="/home/"> mainpage</a>.
</div>
{% endif %}

{% if type == 'come' %}
<img src="http://aand.dkonto.pl/nomadbase/images/pokoj.JPG" alt="living room" width=400 />
<img src="http://aand.dkonto.pl/nomadbase/images/asocial.JPG" alt="asocial room" width=400 />
{% endif %}      
{% if type == 'participate' %}
<img src="http://aand.dkonto.pl/nomadbase/images/choinka.JPG" alt="choinka w pokoju" width=400 />
{% endif %}

{% if type == 'activity' %}
<p> Coding on the beach nearby.</p>
<img src="http://aand.dkonto.pl/nomadbase/images/plaza.JPG" alt="beach nearby" width=500 />
<p> Olive garden Belem</p>
<img src="http://aand.dkonto.pl/nomadbase/images/ogrod.JPG" alt="asocial room" width=500 />
<p> After dumpsted diving.</p>
<img src="http://aand.dkonto.pl/nomadbase/images/lodowka.JPG" alt="fridge with dumpster dived food" width=500 />
<p> Uploading these pictures.</p>
<img src="http://aand.dkonto.pl/nomadbase/images/programowanie.JPG" alt="a beautiful girl writing nice code" width = 500 />

{% endif %}
    
</div>

</div>
        <br />
        <div id="mountains">
        <div id="mountains1">&nbsp;</div><div id="mountains2">&nbsp;</div>
        </div>
    

    
    
  </div>
  </body>
</html>



